/*FOOTER Styling*/
footer {
    background-color: lightgray;
    height: 80px;
}

.footer-text {
    display: inline-block;
    position: relative;
    right: 17%;
    color: white;
}

.footer-nav {
    text-align: center;
    position: relative;
    top: 19%;
}

.footer-nav .footer-text, .footer-nav .footer-nav-item {
    color: grey;
}

.footer-nav-item.footer-nav-center-align {
    position: relative;
    padding-right: 2%;
    left: 15%;
}

.scrolltop {
    height: 69px;
    width: 69px;
    background: lightgray;
    margin: auto;
    border-radius: 84px;
    position: relative;
    top: 37px;
}
.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up { 
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: absolute;
  left: 43%;
  top: 25%;
}

/*HEADER Styling*/
header {
    display: inline-flex;
    width: 100%;
    height: 100px;
    position: static;
    z-index: 100;
    top: 0px;
}

.header-dark {
    background: #3e4a54;
}

.header-light {
    background: white;
}

header .header-img {
    position: relative;
    top: 12%;
    left: 3%;
}

.header-nav {
    width: 100%;
    text-align: right;
    margin-top: 2%;
}

.logo-header {
    color: white;
    position: relative;
    top: 21%;
    left: 5%;
    font-size: 19px;
    font-family: monospace;
}

.header-nav.nav-dark * {
    color: #01203a;
}

.nav-item.nav-center-align {
    padding-right: 4%;
    position: relative;
    bottom: 5%;
    font-weight: bold;
}

.nav-item.nav-right-align {
    position: relative;
    padding-right: 1%;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #cb9a3a;
}

/*CONTACT styling*/
.contact-container {
    text-align: center;
    margin-top: 5%;
    color: white;
    height: 80%;
}

.contact-container form {
    display: inline-block;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 1%;
    font-size: 14px;
}

.contact-form {
    left: 36%;
}

.contact-button {
    width: 32%;
    display: flex;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    margin-top: 5%;
}

.contact-heading {
    font-size: 55px;
    margin-left: 6%;
}

.form-container label {
    display: flex;
    padding-right: 5%;
    font-size: 14px;
}

.form-container {
    display: flex;
}

.contact-text input {
    width: 33.5%;
    height: 200px;
}

.submit-text {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text-box {
    width: 108%;
    height: 200px;
    margin-top: 5px;
}

.form-container label input {
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    margin-top: 5px;
}

/*HOMEPAGE styling */
.home-section {
    height: 65%;
    /* position: relative; */
    top: 0px;
}

.intro-wrapper {
    position: relative;
    margin-left: 26%;
    text-align: center;
    margin-top: 8%;
}

.intro-wrapper a{
    text-decoration: none;
}


.portrait {
    position: absolute;
    left: 48%;
    bottom: 32%;
    clip-path: circle();

}

p.btn-about {
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 1%;
    width: 11%;
}

p.btn-about:hover {
    background-color: white;
    color: #cb9a3a;
    border: 2px solid #cb9a3a;
}

.intro-home-title-small {
    font-size: 20px;
    color:white;
    text-align: left;
    margin-bottom: 1%;
}

.intro-home-title-large {
    font-size: 60px;
    color:#cb9a3a;
    text-align: left;
    bottom: 10px;
    margin-top: 0;
}

.intro-home-title-small.role {
    text-align: left;
    margin-top: -2%;
}

.home-section-line {
    width: 4%;
    border: none;
    margin: 0;
    height: 4px;
    /* position: relative; */
    color: #cb9a3a;
    background: #cb9a3a;
    bottom: 16px;
}

.link-wrapper {
    margin-top: 2%;
    display: flex;
}

.link-wrapper a{
    padding-right: 10px;
}

.link-wrapper .button-img {
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 25px 25px 25px 25px;
    border: 3px solid white;
    margin-right: 3%;
}

.link-wrapper img {
    height: 27px;
}

.button-img.github img {
    position: relative;
    top: 2px;
    right: 0.3px;
}

.button-img.email img {
    position: relative;
    top: 2px;
}

.button-img.linkedin img {
    position: relative;
    top: 1px;
}

.button-img:hover {
    background-color: white;
    border-color: #cb9a3a;
    
}

.button-img {
    cursor: pointer;
    
}

.large-about {
    margin: 0;
    text-align: left;
    margin-left: 13%;
    font-size: 45px;
    color: white;
    padding-top: 15%;

}

.homepage-about-wrapper {
    background: #3e4a54;
    height: 65%;
}

hr.about-line {
    width: 4%;
    border: none;
    height: 4px;
    text-align: left;
    margin-left: 13%;
    color: #cb9a3a;
    background: #cb9a3a;
}

.about-text {
    margin-left: 14%;
    padding-top: 1%;
    color: white;
    width: 83%;
    line-height:1.5em;
}

.about-text p {
    width: 30%;
}

p.text-section-one {
    display: flex;
    width: 100%;
}

.about-img {
    width: 63%;
}

.homepage-skills-wrapper {
    height: 14%;

}

.homepage-skills-title {
    margin: auto;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    font-family: serif;
    font-size: 35px;
    width: fit-content;
}

.homepage-skills-content {
    background: white;
    height: 100%;
    border-radius: 20px 0px 20px 0px;
    width: 98%;
    margin-left: 1%;
    margin-top: 0%;
    position: relative;
    z-index: 100;
    margin-top: 1%;
}

.homepage-skills-content img {
    padding-right: 2%;
    margin: 0;
    margin-left: 3%;
    padding-top: 2.5%;
}

.homepage-skills-image.js-logo {
    height: 70%;
    width: 13%;
}

.homepage-skills-image.html-logo {
    height: 70%;
    width: 10%;
}

.homepage-skills-image.react-logo {
    height: 70%;
    width: 14%;
}

.homepage-skills-image.css-logo {
    height: 70%;
    width: 7%;
}

.homepage-skills-image.python-logo {
    height: 70%;
    width: 13%;
}

.homepage-skills-image.github-logo {
    height: 70%;
    width: 13%;
}


/*RESUME PAGE*/
.image-wrapper {
    width: 100%;
    height: 950px;
    position: relative;
    top: 19px;
}

#sidenav-container {
    display: none;
}

.swoop-in {
    opacity: 0;
    transform: translateY(-100px); /* Adjust starting position */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Adjust duration and easing */
  }
  
  /* Visible state after the delay */
  .swoop-in.visible {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }